<div style="text-align: left">
<h2>Promises Demo</h2>
<ul>
<li>Get the order data from <a href="/api/order.json">/api/order.json</a></li>
<li>Get the shipping data from <a href="/api/order.json">/api/shipping.json</a></li>
<li>Get the calculated taxes data from <a href="/api/order.json">/api/taxes.json</a></li>
</ul>
Note: All the API routes have sleep(1) in them, to slow things down
</div>